* {
  box-sizing: border-box;
}

header {
  background-color: blanchedalmond;
  box-shadow: 2px 2px 2px burlywood;
  padding: 1rem;
}

button, label, p, input, textarea {
  margin: 1rem;
}

table, th, td {
  margin: 1rem;
  border: 1px solid black;
}

td {
  width: 5rem;
}

.grid-container div {
  border: 1px solid black;
  padding: 0.2rem;
}

.grid-container {
  display: grid;
  grid-template-columns: 100px 50px 50px 50px 50px;
  background: blanchedalmond;
}

.grid-container div:hover {
  background: lightgray;
}

a {
  margin: 1rem;
}

.details {
  border: 1px solid black;
  border-radius: 5px;
  margin: 1rem;
  background: blanchedalmond;
  box-shadow: 2px 2px 2px burlywood;
}

thead {
  background: blanchedalmond;
}
